@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 250px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.section1 {
    display: flex;
    padding: 50px 250px 50px 250px;
    justify-content: space-between;
}

.section1-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section1-right {
    display: flex;
}

.hero-text {
    max-width: 350px;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero-subtext {
    max-width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.signup1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: #3882F6;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color: #ababab;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
    background-color: #FFFFFF;
}

.s2-text {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.s2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_s2box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s2box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.s2p {
    text-align: center;
    max-width: 150px;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.s3-container {
    width: 900px;
    margin: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-subtext {
    display: flex;
    align-self: flex-end;
    margin: 0;
    font-weight: bold;
}

.section4 {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    padding: 12px 150px;
    width: 700px;
    height: 125px;
    border-radius: 7px;
    background-color: #3882F6;
}

.container_cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-text {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.cta-subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}

.signup2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid white;
    text-align: center;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    margin: 0;
}